
.cfteaser-overlay {
    text-align: center;
    margin: 20px auto;
    max-width: 300px;
  }
  .cfteaser-image {
    max-width: 300px;
    margin: auto;
  }
  .cfteaser-image img {
    width: 100%;
    height: auto;
  }
  
  .cta-button-cf {
    margin: 18px 0 0 0;
    padding: 0;
  }
  .cta-button-cf a.button {
    display: inline-block;
    padding: 6px 16px !important;
    margin: 6px 6px 0 0;
    background-color: #0048a8 !important;
    color: #FAFAFA !important;
    text-decoration: none;
    border-radius: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .cta-button-cf a.button:after {
    content: "";
    width:auto;
    padding: 0;
  }